/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /***********COLOR**************/

  --contour-color: #000;
  --animation-fill-color: #FF0000;
  --bg-repeating-color: #d3d3d3;
  --bg-linear-gradient-0-color: #e7e7e7;
  --bg-linear-gradient-100-color: #1a1a1a;
  --standart-color: #fff;
  --bg-backdrop-color: rgb(0 0 0 / 0.75);

  /***********SHRIFT**************/

  --only-font-family: "PressStart2P", sans-serif;
  --title-font-family: Inter;
  --title-font-weight: 700;
  --title-font-size: 18px;
  --st-font-weight: 400;
  --st-font-size: 14px;

  /***********ST**************/

  --st-text-transform: uppercase;
  --st-bg-color: transparent;
}